:root{
	--ms-primary-color-dark: #051e34;
}

.cf-debug{
	border: 1px solid red;
}
/* general */
body{
	font-family: 'Roboto', sans-serif;
}
.box{
	width: 50px;
	height:50px;
	border: 1px solid black;
}





